@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme{
    --color-primary-green: #55c57c;
    --color-grey: #777;
    --color-primary-red: #eb4d4b;
    --color-primary-green-hover: #7dd56f;
    --color-secondary-green: #4ade80;
}
.clip-path-trapezoid {
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
}
.clip-path-trapezoid-img {
  clip-path: polygon(0% 8%, 100% 0%, 100% 92%, 0% 100%);
}
.spinner-7 {
  width: 50px;
  aspect-ratio: 1;
  --_c: radial-gradient(farthest-side,#4ADE80 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s7 1s infinite;
}
@keyframes s7 {to{transform: rotate(.5turn)}}